/*
 * Initialize
 */
body {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}

img {
  border-style: none;
}

/*
 * Main style
 */

html {
  overflow-x: hidden;
}

body {
	text-align: center;
	background-color: #f4f4f4;
	color: #3d3d3d;
}

h1 {
	font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

hr {
	width: 250px;
	margin: 12px auto 24px auto;
}

a {
	color: #3d3d3d;
	text-decoration: none;
}

a:hover {
	color: #5da4d9;
}

.cover {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 1;
}

.card-container {
	width: 530px;
	height: 290px;
	margin: 0 auto;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	border-radius: 3px;
}

.card-border, .card-border-2 {
	border: 2px solid #3d3d3d;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	border-radius: 2px;
}

.card-border {
	width: 490px;
	height: 250px;
}

.card-border-2 {
	width: 480px;
	height: 240px;
}

.card-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	cursor: default;
}

.card-content h5 {
	font-family: Georgia, serif;
	font-weight: 400;
	margin-top: 24px;
}

.card-content h6 {
	font-family: Georgia, serif;
	font-weight: 400;
	margin-top: 12px;
}

.icon {
	margin-right: 4px;
}

.content-container {
	max-width: 660px;
	margin: 0 auto;
	position: relative;
	top: 100vh;
}

.content-container section {
	margin-top: 64px;
	margin-bottom: 32px;
}

.screenshots {
	width: 96%;
	height: auto;
	box-shadow: 0 -8px 30px rgba(0, 0, 0, 0.2), 0 -5px 10px rgba(0, 0, 0, 0.12);
}

.portfolio {
	opacity: 0;
}

.blog h5 {
	text-align: left;
	margin: 16px;
}

.contact-row {
	margin-top: 32px;
}

.contact-row:after {
	content: "";
	display: table;
	clear: both;
}

.contact-half {
	float: left;
	width: 50%;
}

.contact p {
	text-align: left;
	font-size: 14px;
}

.footer {
	padding: 8px;
}

.footer p {
	font-size: 12px;
}
