@import 'https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900';

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.mycontainer {
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
  line-height: 40px;
  margin: 0 auto;
}

h4 {
  font-size: 20px;
  line-height: 35px;
}

li {
  display: inline-block;
}

.myNavbar {
  background-color: rgba(255, 255, 255, 0.0);
  position: absolute;
  width: 100%;
  z-index: 5;
  top: 0;
  padding: 0;
  margin: 0;
  color: white;
  border: none;
}

#myNavbar {
  margin: 0;
  padding: 0;
}

#myNavbar li {
  padding: 0 10px 0 10px;
  margin: 0 10px 0 10px;
}

#myNavbar a {
  background: inherit;
  font-size: 18px;
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 0;
  margin: 0 5px;
}

#cover {
  width: 100vw;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  color: white;
  background-color: #22c3aa;
}

#cover a {
  color: white;
}

#cover #down-arrow {
  font-size: 60px;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  z-index: 10;
}

#cover i {
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
}

#life img {
    padding: 0;
    width: auto;
    height: auto;
    border-radius: 5px;
}

#skills i{
  font-size: 120px;
}

.icon-html5 {
  color: #f15931;
}

.icon-css3 {
  color: #007dc6;
}

.icon-javascript {
  color: #f0db4f;
}

.icon-react {
  color: #61dafb;
}

footer {
  background-color: #22c3aa;
  padding: 20px;
  color: white;
}

footer h4 i {
  width: 40px;
}
