
$font-color: #3d3d3d;
$font-size: 16px;
$small-font-size: 12px;
$easing: all 0.3s ease;
$card-width: 530px;
$card-height: 290px;
$small-card-height: 220px;
$hover-color: #5da4d9;

@mixin vertical-center {
  position: relative;
  top: 50%;
	-webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin ease-transition {
  -webkit-transition: $easing;
  transition: $easing;
}

html {
  overflow-x: hidden;
}

body {
	text-align: center;
	background-color: #f4f4f4;
	color: $font-color;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: Helvetica, Arial, sans-serif;
}

img {
  border-style: none;
}

h1 {
	font-size: $font-size + 20px;
	font-weight: 500;
}

h2 {
  font-size: $font-size + 16px;
}

h3 {
  font-size: $font-size + 12px;
}

h4 {
  font-size: $font-size + 8px;
}

h5 {
  font-size: $font-size + 4px;
}

h6 {
  font-size: $font-size;
}

p {
  margin: 16px 0;
}

hr {
	width: 250px;
	margin: 12px auto 24px auto;
}

a {
	color: $font-color;
	text-decoration: none;
	@include ease-transition;
}

.cover {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 1;
}

.card-container {
	width: $card-width;
	height: $card-height;
	margin: 0 auto;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
	@include vertical-center;
}

.card-border, .card-border-2 {
	border: 2px solid #3d3d3d;
	margin: 0 auto;
	border-radius: 2px;
  @include vertical-center;
}

.card-border {
	width: $card-width - 40px;
	height: $card-height - 40px;
}

.card-border-2 {
	width: $card-width - 50px;
	height: $card-height - 50px;
}

.card-content {
	cursor: default;
  @include vertical-center;
  h5 {
    font-family: Georgia, serif;
  	font-weight: 400;
  	margin-top: 24px;
  }
  h6 {
    font-family: Georgia, serif;
  	font-weight: 400;
  	margin-top: 12px;
  }
}

.icon {
	margin-right: 4px;
}

.content-container {
	max-width: 660px;
	margin: 0 auto;
	position: relative;
	top: 100vh;
  section {
    margin-top: 64px;
  	margin-bottom: 32px;
  }
}

.screenshots {
	width: 96%;
	height: auto;
	box-shadow: 0 -8px 30px rgba(0, 0, 0, 0.2), 0 -5px 10px rgba(0, 0, 0, 0.12);
}

.portfolio {
	opacity: 0;
}

.project-item {
  margin-bottom: 64px;
}

.demo-row {
  margin-top: 16px;
  .figure-item {
    float: left;
    width: 50%;
    padding: 5px;
  }
  figure {
    position: relative;
    border: 1px solid #f4f4f4;
    @include ease-transition;

    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
      @include ease-transition;
    }
    figcaption {
      position: absolute;
      width: 100%;
      top: 50%;
      opacity: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: center;
      color: #5175C0;
      @include ease-transition;
    }
  }
  figure:hover {
    border: 1px solid #5175C0;
    border-radius: 5px;
    img {
      opacity: 0.1;
    }
    figcaption {
      opacity: 1;
    }
  }
}

.blog img, .markdown img {
	@include ease-transition;
}

.blog img:hover, .markdown img:hover {
	box-shadow: 0 -8px 40px rgba(0, 0, 0, 0.35), 0 -5px 20px rgba(0, 0, 0, 0.2);
}

.blog, .project-item {
  h5 {
    text-align: left;
  	margin: 16px;
  }
  a:hover {
    color: $hover-color;
  }
}

.contact-row {
	margin-top: 32px;
	width: 100%;
}

.contact-half {
	float: left;
	width: 50%;
}

.contact {
  p {
    text-align: left;
  	font-size: 14px;
  }
  a {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -4px;
      left: 0;
      background-color: #6d6d6d;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
    	@include ease-transition;
    }
    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

.footer {
	padding: 8px;
  p {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: $small-font-size + 16px;
	}

	h2 {
		font-size: $small-font-size + 12px;
	}

	h5 {
		font-size: $small-font-size + 4px;
	}

	h6 {
		font-size: $small-font-size;
	}

	hr {
		width: 160px;
	}

	.card-container {
		width: 90%;
		height: $small-card-height;
	}

	.card-border {
		width: calc(100% - 40px);
		height: $small-card-height - 40px;
	}

	.card-border-2 {
		width: calc(100% - 10px);
		height: $small-card-height - 50px;
	}

	.contact-half {
		width: 100%;
    p {
      padding-left: 32px;
    }
	}
}
