doctype html
html
  head
    meta(charset='utf-8')
    title Parryworld

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Parryworld personal portfolio')
    meta(name='author', content='parryworld')

    link(rel='icon', href='assets/img/favicon.ico')

    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href='css/main.min.css')

  body
    header.cover
      .card-container
        .card-content
          h2 Hello! I'm Parryworld
          h5 FE Developer | Learner
          h6
            a(href='http://parryworld.me/blog/', target='_blank') Blog
            a(href='mailto:parryworld@gmail.com') Gmail
            a(href='https://github.com/parryworld', target='_blank') GitHub
            a(href='http://weibo.com/parryworld', target='_blank') Weibo

      //- section.contact
      //-   h5 如果你想进一步了解我或者联系我
      //-   div(class='contact-row clearfix')
      //-     .contact-half
      //-       p 邮箱： #[a(href='mailto:parryworld@gmail.com') parryworld@gmail.com]
      //-       p 博客： #[a(href='http://parryworld.me/blog/', target='_blank') parryworld.me/blog]
      //-       p 简历： #[a(href='http://parryworld.me/cv/', target='_blank') parryworld.me/cv]
      //-     .contact-half
      //-       p Github： #[a(href='https://github.com/parryworld', target='_blank') github.com/parryworld]
      //-       p 知乎： #[a(href='https://www.zhihu.com/people/parryworld', target='_blank') zhihu.com/people/parryworld]
      //-       p 豆瓣： #[a(href='https://www.douban.com/people/parryworld/', target='_blank') douban.com/people/parryworld]
