html, body {
  height: 100%;
  overflow: hidden;
}

#fullpage, #fullpage .section {
  position: relative;
  height: 100%;
}

.pagination {
  list-style: none;
  position: fixed;
}

.pagination li {
  width: 10px;
  height: 10px;
  margin: 10px 5px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination .active {
  background-color: white;
}

.pagination.vertical {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.pagination.horizontal {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.pagination.horizontal li {
  display: inline-block;
}
