#container {
  position: relative;
  margin: 0 auto;
}

.card {
  margin: 15px 0 0 15px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #bbb;
  position: absolute;
  border-radius: 2px;
}

.card img {
  width: 160px;
  height: auto;
}
